.page-header
  = link_to people_path, :class => 'btn' do
    %i.icon-list-alt
    Back
  = link_to @person, :class => 'btn btn-primary' do
    %i.icon-info-sign.icon-white
    Show
  %h1 Editing person

= render 'form'
