.page-header
  = link_to weigh_ins_path, :class => 'btn' do
    %i.icon-list-alt
    Back
  = link_to @weigh_in, :class => 'btn btn-primary' do
    %i.icon-info-sign.icon-white
    Show
  %h1 Editing weigh_in

= render 'form'
